.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 15vh;
  margin-bottom: -5px;
}

.headerContainer {
  width: 90%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .header {
  }
  .headerList {
    gap: 20px;
  }
}

@media screen and (max-width: 426px) {
  .headerContainer {
    margin: 10px 0px;
  }
  .headerList {
    gap: 25px;
  }
  .header {
    height: 22vh;
  }
}

.headerListItem {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.7s; /* Set the transition duration to 0.5 seconds */
  opacity: 0.8;
}

.headerListItem:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

.headerListItem.activeBtn {
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px 9px;
  opacity: 1 !important;
}

.headerListItem:active {
  opacity: 1;
}

.text {
  font-size: 25px;
}

.headerDesc {
  margin: 24px 0px;
}
@media screen and (max-width: 456px) {
  .text {
    font-size: 18px;
  }
  .headerDesc {
    margin: 10px 0px;
  }
}
.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 600;
  padding: 12px 17px;
  opacity: 1;
  border: none;
  cursor: pointer;
}
